body{
  background-color: rgb(30, 163, 240); 
}
.container-logo{
  display: flex;
  width: 100%;
  height: 200px;
}

.logotipo {
  display: flex;
  justify-content: start;
  width: 70%;
}

.logo {
  width: 40%;
  height: 95%;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 30%;
  padding-top: 20px;
  padding-right: 15px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filtro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokedex {
  padding-top: 30px;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.lista-pokedex:hover .lista-pokedex-link{
  transform: rotateY(180deg);
}  

.lista-pokedex {
  width: 100%;
  margin: 0em;
  padding: 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  perspective: 1000px;
}

.lista-img {
  display: flex;
  height: 150px;
}

.lista-pokedex-link {
  width: 25%;
  height: 250px;
  padding: 0.5em;
  margin: 0.5em;
  background-color: lightgray;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.lista-tipo{
  border: 1px solid green;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 0.5em;
}

.rodape{
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}
