.plano-fundo {
  margin: 0;
  padding: 0;
  background: url(./imagens/fundo1278.jpg) no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-size: cover;
}
.container-logo {
  display: flex;
  width: 100%;
  height: 200px;
}
.logotipo {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  margin: 1em;
}
.logo {
  width: 20%;
  padding-bottom: 1em;
  padding-top: 1em;
}
.navBar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  margin: 1em;
}
.espaco-busca {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  order: -1;
  width: 40%;
  flex-grow: 1;
}
.campo-buscar-nome {
  height: 30px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin: 0.5em;
}
.espaco-filtro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  flex-grow: 1;
}
.filtrar-pokemon {
  border-radius: 5px;
  height: 30px;
  width: 40%;
  text-align: center;
  font-size: 16px;
  margin: 0.5em;
}
.espaco-ordem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  flex-grow: 1;
  margin: 0.5em;
}
.campo-ordenacao {
  border-radius: 5px;
  width: 35%;
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 0.5em;
}
.botao-limpar-filtro, .limpar-ordem{
  height: 30px;
  width: 25%;
  border-radius: 5px;
}
.botao-limpar-filtro:hover, .limpar-ordem:hover{
  cursor: pointer;
  background-color: rgb(199, 199, 7);
  font-weight: bold;
}
.pokedex {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.lista-pokedex {
  width: 100%;
  margin: 0em;
  padding: 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.lista-pokedex-link {
  width: 25%;
  height: 250px;
  padding: 0.5em;
  margin: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  list-style-type: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
}
.lista-pokedex-link h4 {
  margin-bottom: 1em;
}
.lista-img {
  height: 140px;
  order: -1;
}
.lista-num {
  order: -1;
  align-self: flex-end;
  font-weight: bold;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  background-color: rgba(198, 214, 224, 0.712);
  border-radius: 10px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 55%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lista-info {
  width: 65%;
  height: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(198, 214, 224, 0.712);
  border-radius: 10px;
}
.divImg{
  width: 35%;
  height: 100%;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 202, 77, 0.719);
  border-radius: 10px;
}
.lista-info-img {
  height: 180px;
}
.lista-info-img:hover {
  transform: rotateY(180deg);
}
.lista-info-fraqueza{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.lista-info-height, .lista-info-weight, .lista-info-candy{
  display: flex;
}
.lista-info-height h4, .lista-info-weight h4, .lista-info-candy h4, .lista-info-fraqueza h4{
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.Grass {
  border: 1px solid white;
  background-color: rgba(23, 160, 57, 0.8);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Poison {
  border: 1px solid white;
  background-color: rgba(218, 39, 203, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Fire {
  border: 1px solid white;
  background-color: rgba(253, 30, 30, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Flying {
  border: 1px solid white;
  background-color: rgba(255, 241, 241, 0.835);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Water {
  border: 1px solid white;
  background-color: rgba(34, 76, 214, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Bug {
  border: 1px solid white;
  background-color: rgba(30, 253, 49, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Electric {
  border: 1px solid white;
  background-color: rgba(245, 245, 4, 0.876);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Ground {
  border: 1px solid white;
  background-color: rgba(228, 156, 74, 0.876);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Fighting {
  border: 1px solid white;
  background-color: rgba(255, 96, 4, 0.849);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Psychic {
  border: 1px solid white;
  background-color: rgba(240, 33, 143, 0.849);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Rock {
  border: 1px solid white;
  background-color: rgba(185, 77, 50, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Ice {
  border: 1px solid white;
  background-color: rgba(42, 169, 253, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Ghost {
  border: 1px solid white;
  background-color: rgba(121, 33, 148, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Dragon {
  border: 1px solid white;
  background-color: rgba(148, 54, 236, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Normal {
  border: 1px solid white;
  background-color: rgba(156, 154, 158, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Fairy {
  border: 1px solid white;
  background-color: rgba(184, 7, 101, 0.808);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Dark {
  border: 1px solid white;
  background-color: rgba(59, 58, 58, 0.63);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.Steel {
  border: 1px solid white;
  background-color: rgba(143, 142, 142, 0.801);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.3em;
}
.fraqueza, .tipo {
  font-weight: bold;
  font-size: 16px;
}
.rodape {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .plano-fundo {
    background-image: url(./imagens/fundo600x800.jpg);
  }
  .logo {
    width: 40%;
  }
  .lista-pokedex-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0.5em;
  }
  .navBar {
    flex-direction: column;
  }
  .espaco-busca {
    display: block;
    width: 100%;
  }
  .campo-buscar-nome {
    width: 95%;
    margin-right: 0.5em;
  }
  .espaco-filtro {
    width: 100%;
  }
  .filtrar-pokemon, .campo-ordenacao {
    width: 60%;
  }
  .botao-limpar-filtro, .limpar-ordem {
    width: 40%;
    margin-right: 0.5em;
  }
  .espaco-ordem {
    width: 100%;
    margin: 0em;
  }
  .modal-content{
    width: 100%;
    height: 70%;
  }
  .lista-info-fraqueza{
    flex-wrap: wrap;
  }
  .divImg{
    width: 45%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .plano-fundo {
    background-image: url(./imagens/fundo1278.jpg);
  }
  .logo {
    width: 40%;
  }
  .espaco-busca {
    display: flex;
    align-items: center;
    width: 40%;
  }
  .campo-buscar-nome {
    width: 100%;
    margin: 0.2em;
  }
  .espaco-filtro {
    display: flex;
    justify-content: center;
  }
  .filtrar-pokemon {
    width: 60%;
    font-size: 14px;
    margin-right: 0.2em;
  }
  .botao-limpar-filtro {
    width: 40%;
    font-size: 12px;
  }
  .espaco-ordem {
    margin-left: 0.5em;
  }
  .limpar-ordem {
    width: 50%;
    font-size: 12px;
  }
  .campo-ordenacao {
    width: 50%;
    font-size: 14px;
    margin: 0.2em;
  }
  .lista-pokedex-link {
    width: 40%;
  }
  .modal-content{
    width: 100%;
    height: 70%;
  }
  .lista-info-fraqueza{
    flex-wrap: wrap;
  }
}
